@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pri-color:#4F46E5;
    --text-color:#353535;
    --banner-color:#EBF2F6;
    --tle-color:#010101;
    --btn-sec-color:#D8FFFF;
}

body {
    font-family: "Roboto", Sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #fff;
    padding: .5rem 0;
}

.nav-item {
    font-size: 16px;
    letter-spacing: .1rem;
    font-weight: 500;
}
.nav-link {
    color: var(--pri-color) !important;
    text-transform: capitalize;
    /* font-weight: bolder; */
}

.register {
    border-radius: 5rem;
    color: #fff;
    background-color: var(--pri-color);
    padding: .75rem 2rem;
    text-decoration: none;
}
.register::after {
    margin-left: .5rem;
    content: "register";
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .15rem;
}

.register:hover {
    color: #fff;
}

/* HERO */
.hero {
    height: 80vh;
    max-height: 800px;
    padding: 10rem 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/bg-1.svg');
}

.hd-intro {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
    padding: 2rem 0;
}

.btn-reg {
    padding: 1rem 4rem;
    border: none;
    outline: none;
}

.btn-reg a {
    color: var(--pri-color);
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
}

#btnReg {
    background-color: var(--pri-color);
}

#btnReg a {
    color: #fff;
}